.btn-accent-19 {
  background-color: rgba(0, 38, 202, 0.19);
  color: #ffffff;
}

.btn-accent-100 {
  background-color: #000075;
  color: #ffffff;
}

.btn-accent-90 {
  background-color: rgba(0, 0, 209, 0.9);
  color: #ffffff;
}

.btn-accent-85 {
  background-color: rgba(0, 0, 209, 0.85);
  color: #ffffff;
}

.btn-accent-80 {
  background-color: rgba(0, 0, 209, 0.8);
  color: #ffffff;
}

.btn-accent-75 {
  background-color: rgba(0, 0, 209, 0.75);
  color: #ffffff;
}

.btn-accent-70 {
  background-color: rgba(0, 0, 209, 0.7);
  color: #ffffff;
}

.btn-accent-65 {
  background-color: rgba(0, 0, 209, 0.65);
  color: #ffffff;
}

.btn-accent-60 {
  background-color: rgba(0, 0, 209, 0.6);
  color: #ffffff;
}

.btn-olive-100 {
  background-color: #5FD855;
  color: #ffffff;
}

.btn-olive-90 {
  background-color: rgba(95, 216, 85, 0.9);
  color: #ffffff;
}

.btn-olive-85 {
  background-color: rgba(95, 216, 85, 0.85);
  color: #ffffff;
}

.btn-olive-80 {
  background-color: rgba(95, 216, 85, 0.8);
  color: #ffffff;
}

.btn-olive-75 {
  background-color: rgba(95, 216, 85, 0.75);
  color: #ffffff;
}

.btn-olive-70 {
  background-color: rgba(95, 216, 85, 0.7);
  color: #ffffff;
}

.btn-olive-65 {
  background-color: rgba(95, 216, 85, 0.65);
  color: #ffffff;
}

.btn-olive-60 {
  background-color: rgba(95, 216, 85, 0.6);
  color: #ffffff;
}

.btn-olive-19 {
  background-color: rgba(44, 148, 35, 0.19);
  color: #ffffff;
}

.btn-alert-100 {
  background-color: #FFB800;
  color: #ffffff;
}

.btn-alert-90 {
  background-color: rgba(255, 184, 0, 0.9);
  color: #ffffff;
}

.btn-alert-85 {
  background-color: rgba(255, 184, 0, 0.85);
  color: #ffffff;
}

.btn-alert-80 {
  background-color: rgba(255, 184, 0, 0.8);
  color: #ffffff;
}

.btn-alert-75 {
  background-color: rgba(255, 184, 0, 0.75);
  color: #ffffff;
}

.btn-alert-70 {
  background-color: rgba(255, 184, 0, 0.7);
  color: #ffffff;
}

.btn-alert-65 {
  background-color: rgba(255, 184, 0, 0.65);
  color: #ffffff;
}

.btn-alert-60 {
  background-color: rgba(255, 184, 0, 0.6);
  color: #ffffff;
}

.btn-alert-19 {
  background-color: rgba(197, 157, 57, 0.19);
  color: #ffffff;
}

.btn-error-100 {
  background-color: #C73E1D;
  color: #ffffff;
}

.btn-error-90 {
  background-color: rgba(199, 62, 29, 0.9);
  color: #ffffff;
}

.btn-error-85 {
  background-color: rgba(199, 62, 29, 0.85);
  color: #ffffff;
}

.btn-error-80 {
  background-color: rgba(199, 62, 29, 0.8);
  color: #ffffff;
}

.btn-error-75 {
  background-color: rgba(199, 62, 29, 0.75);
  color: #ffffff;
}

.btn-error-70 {
  background-color: rgba(199, 62, 29, 0.7);
  color: #ffffff;
}

.btn-error-65 {
  background-color: rgba(199, 62, 29, 0.65);
  color: #ffffff;
}

.btn-error-60 {
  background-color: rgba(199, 62, 29, 0.6);
  color: #ffffff;
}

.btn-error-19 {
  background-color: rgba(199, 62, 29, 0.19);
  color: #ffffff;
}

.btn-secondary-100 {
  background-color: #6c757d;
  color: #ffffff;
}

.btn-secondary-90 {
  background-color: rgba(108, 117, 125, 0.9);
  color: #ffffff;
}

.btn-secondary-85 {
  background-color: rgba(108, 117, 125, 0.85);
  color: #ffffff;
}

.btn-secondary-80 {
  background-color: rgba(108, 117, 125, 0.8);
  color: #ffffff;
}

.btn-secondary-75 {
  background-color: rgba(108, 117, 125, 0.75);
  color: #ffffff;
}

.btn-secondary-70 {
  background-color: rgba(108, 117, 125, 0.7);
  color: #ffffff;
}

.btn-secondary-65 {
  background-color: rgba(108, 117, 125, 0.65);
  color: #ffffff;
}

.btn-secondary-60 {
  background-color: rgba(108, 117, 125, 0.6);
  color: #ffffff;
}

.btn-dark-100 {
  background-color: #303030;
  color: #ffffff;
}

.btn-dark-90 {
  background-color: rgba(48, 48, 48, 0.9);
  color: #ffffff;
}

.btn-dark-85 {
  background-color: rgba(48, 48, 48, 0.85);
  color: #ffffff;
}

.btn-dark-80 {
  background-color: rgba(48, 48, 48, 0.8);
  color: #ffffff;
}

.btn-dark-75 {
  background-color: rgba(48, 48, 48, 0.75);
  color: #ffffff;
}

.btn-dark-70 {
  background-color: rgba(48, 48, 48, 0.7);
  color: #ffffff;
}

.btn-dark-65 {
  background-color: rgba(48, 48, 48, 0.65);
  color: #ffffff;
}

.btn-dark-60 {
  background-color: rgba(48, 48, 48, 0.6);
  color: #ffffff;
}

.btn-critical-100 {
  background-color: #e700e7;
  color: #ffffff;
}

.btn-critical-90 {
  background-color: rgba(231, 0, 231, 0.9);
  color: #ffffff;
}

.btn-critical-85 {
  background-color: rgba(231, 0, 231, 0.85);
  color: #ffffff;
}

.btn-critical-80 {
  background-color: rgba(231, 0, 231, 0.8);
  color: #ffffff;
}

.btn-critical-75 {
  background-color: rgba(231, 0, 231, 0.75);
  color: #ffffff;
}

.btn-critical-70 {
  background-color: rgba(231, 0, 231, 0.7);
  color: #ffffff;
}

.btn-critical-65 {
  background-color: rgba(231, 0, 231, 0.65);
  color: #ffffff;
}

.btn-critical-60 {
  background-color: rgba(231, 0, 231, 0.6);
  color: #ffffff;
}

.btn-other-gray {
  background-color: #292929;
  color: #ffffff;
}

.btn-other-disable-100 {
  background-color: rgba(102, 102, 102, 0.86);
  color: #ffffff;
}

.btn-other-light-100 {
  background-color: #ffffff;
  color: #ffffff;
}

.btn-other-dark-100 {
  background-color: #303030;
  color: #ffffff;
}/*# sourceMappingURL=Button.css.map */