@import '../../styles/global.css';

.piece--card{
    .piece--cardHead{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: 8px 15px;
       
    }
    .piece--text__elipese{
        max-width: 100px;
        width: 100%;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .piece--card-headAction{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;
    }
    .piece--cardBody{
        img{
            margin-top: 15px;
        }
        .piece--cardContent{
            padding: 8px 15px;
            
            .piece--cardText{
                margin-top: 15px;
            }
        }
    }
    .piece--cardFooter{
        margin-top: 15px;
        padding: 8px 15px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;
    }
    
}
.img-responisve{
    width: 100%;
    height: auto;
}